#items > li {
    float: left;
    height: 120px;
    width: 100px;
    margin: 5px;
    background-color: #c9cac6;
    border-radius: 5px;
}

#items > li > a {
    display: block;
    /* Height is above height - 4*/
    height: 116px;
    width: 100px;
    padding: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#items > li:hover{
    background-color: #888a85;
}

#items > li > a > img {
    height: 96px;
    width: 96px;
}

#items {
    list-style-type: none;
}

.row {
    margin: 0px 15px 0px 15px;
}

#logout {
    margin-top: 20px;
}

.files {
    padding: 0px;
    margin: 0;
}

.files > .row {
    padding: 2px;
}

#items {
    padding: 0px;
}

#lightbox {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(150, 150, 150, 0.5);
    padding-top: 40px;
}

#closeLightbox{
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
}

#lightbox > .container > .jumbotron > div{

}

button > .glyphicon {
    margin-right: 3px;
}

.btn {
    background-color: #c9cac6;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body > * {
    flex-shrink: 0;
}

body > div:last-of-type {
    flex-grow: 1;
}

#editrow{
    height: 100%;
}

#editrow > pre {
    height: 100%;
}

#editrow * {
    margin-top: 0;
    margin-bottom: 0;
}